<%- include('partials/header') -%>


  <div class="taskContainer col-12">
      
        <% if ((today.dailyTasks.length === 0)) { %>
          <h1>You have no tasks!</h1>
        <% } else { %>
          <h1>These are today's goals, <%= user.userName %>!</h1>
          <ul>
            <% today.dailyTasks.forEach(function(task) { %>
              <% if (task.isComplete == false) { %>
                <li>
                  <form action="/today/updateTask" method="POST">
                    <span class="task incompleteTask"><%= task.text %></span>
                    <input type="hidden" name="dayId" value="<%= today._id %>">
                    <input type="hidden" name="taskId" value="<%= task._id %>">
                    <button type="submit">✅</button>
                  </form>
                </li>
              <% } else { %>
                <li>
                  <span class="completeTask"><%= task.text %></span>
                  <input type="hidden" name="dayId" value="<%= today._id %>">
                  <input type="hidden" name="taskId" value="<%= task._id %>">
                </li>
              <% } %>
            <% }); %>
          </ul>
        <% } %>
        <h3>Today's tasks completion! <%= `${today.completedTasks}/${today.dailyTasks.length}` %></h3>
        <span>Your current streak is <%= user.currentStreak %> and your highest streak is <%= user.highestStreak %>!</span>
  

        <div>
        <a href="/profile">Your Profile</a>
        </div>
        <div>
        <a href="/tomorrow">Tomorrow</a>
        </div>
        <div>
        <a href="/logout">Logout</a>
        </div>
    </div>
</main>

<%- include('partials/footer') -%>
