<%- include('partials/header') -%>

    <h1>Set your goals for tomorrow, <%= userInfo.userName %></h1>
    <div class="taskContainer col-12">
        
        <% if((nextDay.dailyTasks.length === 0)){ %>
        <h1>You have no tasks!</h1>
        <% } else{ %>  <ul>
            <% nextDay.dailyTasks.forEach(function(task) { %>
                <li><form action="/tomorrow/deleteTask" method="POST">
                    <div class="col-12">
                        <div class="input-group">
                           <span class="task"><%= task.text%></span>
                            <div class="input-group-prepend">
        
                                <button type="submit" name="taskID" value="<%= task.taskID %>">delete</button>
                            </div>
                        </div>
                    </div>
                </form></li>
        
            <% }); %> </ul>
        <% } %>
    


        <form action="/tomorrow/addTask" method="POST">
            <div class="col-8">
                <div class="input-group">
                    <input type="text" class="form-control" id="addTask" name="taskText">
                    <div class="input-group-prepend">
                        <button type="submit" >Add Task</button>
                    </div>
                </div>    
            </div>   
        </form>
        
        
        
        <div>  
            <a href="/profile" class="">Your Profile</a>
        </div>
        <div>
            
            <a href="/today" class="">Today</a>
        </div>
        <div>
            
            <a href="/logout" class="">Logout</a>
        </div>
    </div>
</main>
  
<%- include('partials/footer') -%>